<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourism...</title>
</head>
<body>
    <form onsubmit="return onClientSubmit()" action="javascript:void(0);">
        <input type="text" placeholder="name" required="required" id="name">
        <input
                type="tel"
                pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
                placeholder="phone number"
                required="required"
                id="phone">
        <input type="date" required="required" onchange="return onDateChange()" value=<%= today %> id="date">
        <a>people: </a>
        <input type="number" value="1" id="people">
        <input type="submit">
    </form>
    <a>available places </a><a id="free"><%= free %></a><a> / <%= overall %></a>
</body>
<script src="client.js"></script>
</html>
