<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
    <form onsubmit="return onAdminLogin()" action="javascript:void(0);">
        <a>login</a><br>
        <input type="text" required="required" id="login"><br>
        <a>password</a><br>
        <input type="password" required="required" id="password"><br>
        <a id="error" hidden="hidden"></a><br>
        <input type="submit" value="log in">
    </form>
</body>
<script src="../scripts/admin_login.js"></script>
</html>
