<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="../css/index.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
	<body>
		<div id="skyguide">
			<div id="bg"></div>
			<form id="reg_form" class="all-center" action="#">
				<div class="row">
					<div class="col s12 m3 input-field inline">
						<input id="name" type="text" class="validate" required="required">
						<label for="name">Имя заказчика</label>
					</div>
					<div class="col s12 m3 input-field inline">
						<input
								id="phone"
								type="text"
								required="required"
						>
						<label for="phone">Номер телефона</label>
						<span class="helper-text" data-error="Не номер телефонна"></span>
					</div>
					<div class="col s6 m3">
						<input id="date" type="text" class="datepicker" required="required">
						<label for="date">Дата бронирования</label>
					</div>
					<div class="col s6 m3">
						<input type="number" value="1" id="people" class="validate" required="required">
						<label for="people">Количество людей</label>
					</div>
				</div>

				<div class="row">
					<div class="wtext col s6 m4 valign-wrapper">
						<h5>Цена 1500 руб/билет</h5>
					</div>
					<div class="wtext col s6 m4 valign-wrapper">
						<h5>Доступно мест <a id="free"><%= free %></a> / <%= overall %></h5>
					</div>
					<div class="col s12 m4">
						<ul class="collapsible">
							<li>
								<div class="collapsible-header">
									<div class="col s7 right-align" >PIN</div><i id="ic_dropdown" class="material-icons">arrow_drop_down</i><div class="col s5"></div>
								</div>
								<div class="collapsible-body">
									<input id="pin" type="text" class="validate">
									<label for="pin">For internal use</label>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<button
							id="submit"
							type="submit"
							class="col offset-s2 s8 offset-s2 offset-m3 m6 offset-m3 waves-effect waves-light btn-large"
					>
						Отправить заявку
					</button>
				</div>
			</form>

			<footer class="page-footer">
				<p class="hide-on-med-and-up" style="text-align: center; margin-top: -10px">info</p>
				<div id="in-footer" class="container hide-on-small-only">
					<p>
						После регистрации заявки с вами свяжется наш оператор. Стоимость услуги включает трансфер из поселка Романтик и поселка Архыз на территорию Специальной Астрофизической обсерватории. Экскурсия проводится ночью, детали проведения зависят от текущего астроклимата и сообщаются наблюдателю после оформления заявки
					</p>
				</div>
			</footer>
		</div>
		<div id="about">
			<div class="carousel carousel-slider center">
				<a class="carousel-item"><img src="../images/example1.jpg"></a>
				<a class="carousel-item"><img src="../images/example2.jpg"></a>
				<a class="carousel-item"><img src="../images/example3.jpg"></a>
				<a class="carousel-item"><img src="../images/example4.jpg"></a>
			</div>
		</div>
		<ul class="tabs">
			<li class="tab col s6"><a class="active" href="#skyguide">Sky Guide</a></li>
			<li class="tab col s6"><a href="#about">About</a></li>
		</ul>

		<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
		<script type="text/javascript" src="../scripts/client.js"></script>
	</body>
</html>
